<html class='h-100'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>eng 起去走走</title>
    <link rel='stylesheet' type='text/css' href='/style.css' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js'
      integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF'
      crossorigin='anonymous'
    ></script>
  </head>

  <body>
    <div class='login-main-navbar d-flex'>
      {{! logo }}
      <a href='/' class=''>
        <img src='/image/engogo_logo.png' />
      </a>
      <h2 class='selected'>Home</h2>
      <h2>Explore</h2>
      <h2>Logout</h2>
    </div>
    <div class='row'>
      {{! 左側預留 }}
      <div class='col-2'>
      </div>
      {{! 中間區域 }}
      <div class='col-8'>
        {{! 中上留空 }}
        <div class='row' style='height: 180px;'></div>
        {{! 中間資訊區 }}
        <div class='row d-flex'>
          {{! 中左個資區 }}
          <div class='col-7 d-flex flex-column'>
            <div class='d-flex'>
              {{! 用戶大頭貼 }}
              <a href='' class='mt-3 mb-3'>
                <figure
                  class='m-0 me-2 flex-shrink-0'
                  style='width: 150px; height: 150px; border-radius: 50%; overflow: hidden;'
                >
                  <img
                    src='/image/avatar.png'
                    style='object-fit: cover;width:100%;height:100%'
                  />
                </figure>
              </a>
              {{! 用戶個資 }}
              <div class='d-flex flex-column justify-content-end ms-4'>
                <h3 class='mb-1'>Name</h3>
                <h6 class='mb-3'>@123123123</h6>
              </div>
            </div>
            {{! 日記牌卡切換 }}
            <div class='mt-3 color-main'>
              感恩日記本 ｜ 牌卡收集庫
            </div>
          </div>
          {{! 中右卡片區 }}
          <div class='col-5 d-flex flex-column align-items-end pe-5'>
            <div class='main-page-badge rounded-pill'>挑戰中</div>
            <figure
              class='today-mission-card'
              style='width: 280px; height: 100%; border-radius: 25px; overflow: hidden'
            >
              <div
                class='d-flex align-items-center'
                style='position: absolute; width: 280px; padding: 3px 12px'
              >
                <div style='font-size: 60px; font-weight: bold'>32</div>
                <div
                  style='font-size: 10px; margin-left: 8px'
                >想出三個你最想收到的生日禮物，挑一個嘗試用英語形容你為什麼喜歡這個禮物。</div>
              </div>
              <img
                src='/image/demo_card.png'
                style='object-fit: cover;width:100%;height:100%'
              />
            </figure>
          </div>
        </div>
        {{! 中下日記區 }}
        <div class='row' style='margin-top: -200px;'>
          <div class='journey'>
            <h4 class='mb-4'>2023年06月30(五) &nbsp&nbsp 天氣：</h4>
            <div class='d-flex'>
              <div class='col-8'>
                <div class='Q'>
                  <div class='d-flex align-items-center ps-2'>
                    <div
                      class=''
                      style='font-size: 30px; font-weight: 500; color:#f2a025'
                    >Q1</div>
                    <div class='ps-2'>我在這一張卡牌中做了什麼呢？</div>
                  </div>
                </div>
                <div class='Q'>
                  <div class='d-flex align-items-center ps-2'>
                    <div
                      class=''
                      style='font-size: 30px; font-weight: 500; color:#f2a025'
                    >Q2</div>
                    <div class='ps-2'>完成任務之後，我有什麼感受呢？</div>
                  </div>
                </div>
                <div class='Q'>
                  <div class='d-flex align-items-center ps-2'>
                    <div
                      class=''
                      style='font-size: 30px; font-weight: 500; color:#f2a025'
                    >Q3</div>
                    <div class='ps-2'>我想對＿＿＿＿＿説的一句話...</div>
                  </div>
                </div>
              </div>
              <div class='col-4 ps-5 pb-2'>
                <figure
                  class='today-mission-card'
                  style='width: 230px; height: 100%; border-radius: 25px; overflow: hidden'
                >
                  <div
                    class='d-flex align-items-center'
                    style='position: absolute; width: 230px; padding: 3px 12px'
                  >
                    {{! <div style='font-size: 40px; font-weight: bold'>32</div>
                    <div
                      style='font-size: 10px; margin-left: 8px'
                    >想出三個你最想收到的生日禮物，挑一個嘗試用英語形容你為什麼喜歡這個禮物。</div> }}
                  </div>
                  <img
                    src='/image/demo_card2.png'
                    style='object-fit: cover;width:100%;height:100%'
                  />
                </figure>
              </div>
            </div>
          </div>
          <div class='d-flex justify-content-between' style='margin-top: -110px; z-index: 11'>
            <div class="d-flex align-items-end">
              {{! 寫日記頭像 }}
              <figure
                class='m-0 me-2 flex-shrink-0'
                style='width: 80px; height: 80px; border-radius: 50%; overflow: hidden;'
              >
                <img
                  src='/image/avatar.png'
                  style='object-fit: cover;width:100%;height:100%'
                />
              </figure>
              {{! 日記愛心 }}
              <figure
                class='m-0 me-2 flex-shrink-0'
                style='width: 56px; height: 56px; border-radius: 50%; overflow: hidden; background-color:#FFECC8;
              display:flex;
              justify-content: center;
              align-items: center;'
              >
                <img
                  src='/icon/_base/heart.png'
                  style='object-fit: contain;width:60%;height:60%'
                />
              </figure>
              {{! 編輯日記 }}
              <figure
                class='m-0 me-2 flex-shrink-0'
                style='width: 56px; height: 56px; border-radius: 50%; overflow: hidden; background-color:#FFECC8;
              display:flex;
              justify-content: center;
              align-items: center;'
              >
                <img
                  src='/icon/_base/edit.png'
                  style='object-fit: contain;width:60%;height:60%'
                />
              </figure>
            </div>
            {{! 能力值 }}
            <figure
              class='m-0 me-2 flex-shrink-0'
              style='width: 130px; height: 130px; overflow: hidden;'
            >
              <img
                src='/image/star.png'
                style='object-fit: cover;width:100%;height:100%'
              />
            </figure>
          </div>
        </div>
        {{{body}}}
        {{! 中下下留空 }}
        <div class='row' style='height: 180px;'></div>
      </div>
      {{! 右側預留 }}
      <div class='col-2'>
      </div>
    </div>
  </body>

</html>